<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Home</string>
		<key>identifier</key>
		<string>HomeNavigationController</string>
		<key>storyboard</key>
		<string>Home</string>
        <key>icon</key>
        <string>ic_paidtogo_grey</string>
	</dict>
    <dict>
        <key>title</key>
        <string>Start Activity</string>
        <key>identifier</key>
        <string>ActivityTrackingController</string>
        <key>storyboard</key>
        <string>Activity</string>
        <key>icon</key>
        <string>ic_menu_walkrun</string>
    </dict>
    <dict>
        <key>title</key>
        <string>Gym Check-In</string>
        <key>identifier</key>
        <string>CheckInNavigationController</string>
        <key>storyboard</key>
        <string>Activity</string>
        <key>icon</key>
        <string>ic_menu_gym_pin</string>
    </dict>
	<dict>
		<key>title</key>
		<string>Profile</string>
		<key>identifier</key>
		<string>ProfileNavigationController</string>
		<key>storyboard</key>
		<string>Profile</string>
        <key>icon</key>
        <string>ic_profile_gray</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Activity Feed</string>
		<key>identifier</key>
		<string>ActivityNavigationController</string>
		<key>storyboard</key>
		<string>Activity</string>
        <key>icon</key>
        <string>ic_activity_gray</string>
	</dict>
    <dict>
        <key>title</key>
        <string>Stats</string>
        <key>identifier</key>
        <string>ActivityNavigationController</string>
        <key>storyboard</key>
        <string>Activity</string>
        <key>icon</key>
        <string>ic_menu_activity_graph</string>
    </dict>
	<dict>
		<key>title</key>
		<string>Balance</string>
		<key>identifier</key>
		<string>BalanceNavigationController</string>
		<key>storyboard</key>
		<string>Balance</string>
        <key>icon</key>
        <string>ic_balance_gray</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Leaderboard</string>
		<key>identifier</key>
		<string>LeaderboardsNavigationController</string>
		<key>storyboard</key>
		<string>Leaderboards</string>
        <key>icon</key>
        <string>ic_leaderboard_gray</string>
	</dict>
<!--    <dict>-->
<!--        <key>title</key>-->
<!--        <string>Stats</string>-->
<!--        <key>identifier</key>-->
<!--        <string>StatsNavigationController</string>-->
<!--        <key>storyboard</key>-->
<!--        <string>Stats</string>-->
<!--        <key>icon</key>-->
<!--        <string>ic_earned</string>-->
<!--    </dict>-->
	<dict>
		<key>title</key>
		<string>Settings</string>
		<key>identifier</key>
		<string>SettingsNavigationController</string>
		<key>storyboard</key>
		<string>Settings</string>
        <key>icon</key>
        <string>ic_settings_gray</string>
	</dict>
    <dict>
        <key>title</key>
        <string>Upgrade To Paidtogo Pro</string>
        <key>identifier</key>
        <string>PaidtogoProNavViewController</string>
        <key>storyboard</key>
        <string>PaidtogoPro</string>
        <key>icon</key>
        <string>ic_help_gray</string>
    </dict>
    <dict>
        <key>title</key>
        <string>How it works</string>
        <key>identifier</key>
        <string>WebViewViewController</string>
        <key>storyboard</key>
        <string>Menu</string>
        <key>url</key>
        <string>https://www.paidtogo.com/how_it_works</string>
        <key>icon</key>
        <string>ic_help_gray</string>
    </dict>
    <dict>
        <key>title</key>
        <string>Terms and Conditions</string>
        <key>identifier</key>
        <string>WebViewViewController</string>
        <key>storyboard</key>
        <string>Menu</string>
        <key>url</key>
        <string>https://www.paidtogo.com/terms-conditions</string>
        <key>icon</key>
        <string>ic_help_gray</string>
    </dict>
</array>
</plist>
